@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    color: #444;
    font-size: 16px;
    background-color: #f1f1f1;
}

.banner-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    width: 580px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/rahul-bhogal-z9Ei733Rr1M-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: .8em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
}

.banner:hover {
    transition: box-shadow .5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.banner-header {
    padding: 2em;
    color: #fff;
}

.banner-header span {
    padding: .2em .8em;
    background-color: #006466;
    border-radius: .2em;
}

.banner-content {
    margin: 4em 0;
    padding: 2em;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.banner-sub-title {
    font-size: 1.5em;
}

.banner-title {
    margin: .2em 0 .5em;
    font-size: 2.5em;
}

.rating {
    margin-right: .6em;
    padding: .2em .5em;
    color: #444;
    background-color: #fff;
    border-radius: .2em;
}
.stars {
    color: #ffcb69;
}

.banner-footer {
    padding: 2em;
    background-color: #fff;
    border-radius: 0 0 .8em .8em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.row-container {
    margin-top: .8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-area {
    display: inline;
}

.main-price {
    font-size: 3.5em;
    font-weight: bolder;
}

.main-price::before {
    content: "R$";
    font-size: .4em;
    font-weight: lighter;
}

.old-price {
    color: #b1b1b1;
    text-decoration: line-through;
    align-self: baseline;
}

.banner-button {
    padding: 1em 4em;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    background-color: #006466;
    border-radius: .5em;
    display: block;
}